<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.adminsmartwatch">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AdminSmartWatch"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activity.Danhsach_PhieunhapActivity"></activity>
        <activity android:name=".Activity.QlPhieuNhapActivity" />
        <activity android:name=".Activity.ThongKeActivity" />
        <activity android:name=".Activity.ThemSpActivity" />
        <activity android:name=".Activity.SuaSpActivity" />
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.DonHangActivity" />
        <activity android:name=".Activity.CTDonHangActivity" />
        <activity android:name=".Activity.KhachHangActivity" />
        <activity android:name=".Activity.CTKhachHangActivity" />
        <activity android:name=".Activity.SanPhamActivity" />
        <activity android:name=".Activity.ChiTietSanPhamActivity" />
        <activity android:name=".Activity.DangNhapActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>